[Unit]
Description=EMS Supervisord
After=network.target

[Service]
Type=simple
ExecStart=supervisord -c /home/pi/ems/supervisord.conf
Restart=always

[Install]
WantedBy=multi-user.target
