# WattTime
WT_USERNAME=
WT_PASSWORD=
WT_REGION=MISO_DETROIT

# Store It Cold (CoolBot)
SIT_EMAIL=
SIT_PASSWORD=

# SolArk inverter
SOLARK_USERNAME=
SOLARK_PASSWORD=
SOLARK_PLANT_ID=139155

# Home Assistant (Ford EV)
HA_URI=
HA_TOKEN=
HA_VIN=

# eGauge
EGAUGE_METER_NAME=
EGAUGE_USER=
EGAUGE_PASSWORD=

