# WattTime
WT_USERNAME=
WT_PASSWORD=
WT_REGION=MISO_DETROIT

# Store It Cold (CoolBot)
SIT_EMAIL=
SIT_PASSWORD=

# SolArk inverter
SOLARK_USERNAME=
SOLARK_PASSWORD=
SOLARK_PLANT_ID=139155

# OpenEVSE charger (all optional)
OPENEVSE_URI=http://openevse.local
OPENEVSE_USER=
OPENEVSE_PASSWORD=
OPENEVSE_CLAIM_ID=20

# eGauge
EGAUGE_METER_NAME=
EGAUGE_USER=
EGAUGE_PASSWORD=

